.coaches-list
    margin 0 -35px -60px 0
    @media mediumView
        margin-right 0
        justify-content space-around
    a
        flex 0 0 272px
        height 340px
        position relative
        @extend .box-col
        @extend .space-end
        margin 0 30px 60px 0
        color #fff
        text-decoration none
        @media mediumView
            margin 0 10px 40px
        img
            @extend .wrapper-absolute
    &-item
        &-content
            position relative
            flex 0 0 111px
            padding 0 60px
            background-color rgba(greenColor, 0.9)
            transition background-color 200ms
            .coaches-list a:hover &
                background-color rgba(blueColor, 0.9)
        &-title
            text-transform uppercase
            font-size 17px
            font-family fontSlab
            line-height 1.3
        &-special
            margin-top 15px
            &:empty
                @extend .no-display