<!DOCTYPE html>
html
    head
        - print $head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title 
            - print $head_title
        - print $styles
    body(class!='<?php print $classes; ?>')
        // Google Tag Manager
        noscript
            iframe(src='//www.googletagmanager.com/ns.html?id=GTM-K37GJ9', height='0', width='0', style='display:none;visibility:hidden')
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-K37GJ9');
        // End Google Tag Manager
        div#fb-root
        script.
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        - print $page_top
        - print $page
        - print $page_bottom
        - print $scripts
    