.gallery-list
    margin 0 -35px -40px 0
    @media mediumView
        margin-right 0
        justify-content space-around
    a
        position relative
        flex 0 0 372px
        height 252px
        margin 0 31px 40px 0
        text-decoration none
        text-transform uppercase
        top 0
        color #fff
        @extend .box-col
        @extend .space-end
        padding 0 40px 30px
        transition all 200ms
        @media mediumView
            margin 0 10px 30px
            flex 0 0 300px
            height 203px
            padding 0 20px 30px
        &:hover
            top -10px
            box-shadow 0px 22px 12px 0px rgba(0, 0, 0, 0.22)
            .date-display-single
                background-color orangeColor
        .date-display-single
            position relative
            @extend .box-row
            @extend .align-middle
            margin-bottom 10px
            width 100px
            flex 0 0 30px
            background-color blueColor
            font-size 12px
            transition background-color 200ms
    &-item
        &__img
            &:after
                content ''
                @extend .wrapper-absolute
                top auto
                bottom 0
                height 124px
                background linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%)
        &__title
            position relative
            font-size 13px
            font-weight 900
            line-height 1.3