.events-anonce
    position relative
    padding-top 90px
    margin-bottom 90px
    @media mediumView
        padding-top 80px
    .not-front &
        margin-bottom 0
        @media mediumView
            background-color grayBg
            padding 90px 0
            &:before
                display none
    &:before
        content ''
        @extend .wrapper-absolute
        height 420px
        background url(../img/front-events.jpg) no-repeat center
        background-size cover
        @media mediumView
            height 350px
        .not-front &
            background grayBg
    .block-title
        color #fff
        margin-bottom 40px
        .not-front &
            color grayText
    &-list
        a
            width 392px
            height 292px
            position relative
            @extend .box-col
            margin-right 3px
            color #fff
            text-decoration none
            padding 120px 40px 0
            @media mediumView
                margin 0 auto
                width 300px
                height 224px
                padding 70px 22px 0
    &-img
        &:after
            content ''
            @extend .wrapper-absolute
            background-color rgba(black, 0.3)
    .date-display-single
        position relative
        @extend .box-row
        @extend .align-middle
        flex 0 0 30px
        width 100px
        background-color blueColor
        font-size 12px
        margin-bottom 15px
    &-title
        position relative
        text-transform uppercase
        font-size 21px
        font-weight 900
        line-height 21px