.course-content
    &__top
        height 502px
        position relative
        &-img
            img
                @extend .wrapper-absolute
                object-fit cover
            &:after
                content ''
                @extend .wrapper-absolute
                background-color rgba(black, 0.5)
        &-content
            color #fff
            text-transform uppercase
            font-family fontSlab
            h1
                font-size 40px
                font-weight 300
                letter-spacing 1px
                line-height 1.1
                @media mediumView
                    font-size 30px
                    line-height 1.2
                strong
                    font-size 60px
                    font-weight 300
                    @media mediumView
                        font-size 30px
        &-date
            margin-bottom 50px
            &-label
                font-size 15px
                color blueColor
                margin-bottom 10px
            &-list
                font-size 31px
                & > span
                    &:not(:last-child)
                        &:after
                            content ','
                            font-size 31px
                .date-display-range
                    font-size 0
                    & > span
                        font-size 31px
                .date-display-start
                    &:after
                        content ' - '
            &:after
                margin-top 50px
                content ''
                flex 0 0 2px
                width 100px
                background-color blueColor
    &__info
        height 432px
        background url(../img/front-events.jpg) no-repeat center
        background-size cover
        @media mediumView
            height auto
            padding 90px 0
        &-content
            color #fff
            .block-title
                color #fff
            ul
                @extend .box-row
                @extend .space-around
                list-style none
                @media mediumView
                    flex-wrap wrap
                    justify-content center
                li
                    @extend .box-col
                    @extend .align-center
                    @extend .text-center
                    counter-increment listCount
                    flex 0 0 220px
                    // margin 0 40px
                    font-family fontSlab
                    line-height 18px
                    @media mediumView
                        &:not(:last-child)
                            margin-bottom 45px
                    &:before
                        content counter(listCount)
                        @extend .box-row
                        @extend .align-middle
                        flex 0 0 96px
                        width 96px
                        margin-bottom 30px
                        font-size 50px
                        font-weight 700
                        color white
    &__main
        padding 90px 0
        &-wrapper
            @media mediumView
                flex-direction column
                align-items center
        &-content
            flex 1 1 auto
            @media mediumView
                flex 0 0 auto
                margin-bottom 50px
        &-label
            text-transform uppercase
            font-size 31px
            color grayText
            font-family fontSlab
            margin-bottom 4px
        &-title
            text-transform uppercase
            font-size 21px
            color grayText
            font-family fontSlab
            font-weight 300
            margin-bottom 40px
        &-text
            &-inner
                transition max-height 1s
                &:not(.active)
                    overflow hidden
                    max-height 150px
                &.active
                    max-height 3000px
            &-full-button
                margin-top 40px
                font-weight 900
                color blueColor
                cursor pointer
                user-select none
                .course-content__main-text-inner.active + &
                    @extend .no-display
        &-price
            flex 0 0 240px
            color #fff
            background-color greenColor
            border-radius 5px
            padding 40px
            margin-left 90px
            font-size 12px
            line-height 18px
            @media mediumView
                flex 0 0 auto
                width 240px
                margin 0
                align-self center
            &-title
                text-transform uppercase
                font-size 15px
                font-family fontSlab
                margin-bottom 7px
                line-height 1
            strong
                font-family fontSlab
                font-size 31px
                color blueColor
                text-transform uppercase
            p:first-of-type
                border-bottom 1px solid blueColor
                padding-bottom 20px
                margin-bottom 20px
    &__order
        padding 90px 0
        background-color grayBg
        @media mediumView
            padding-top 60px
        &-tabs
            margin-bottom 60px
            @media smallView
                margin-bottom 40px
                justify-content space-around
            &-button
                margin 0 20px
                cursor pointer
                user-select none
                flex 0 0 250px
                height 96px
                background-color #fff
                border-radius (96px / 2)
                border-bottom 8px solid #f1f4f0
                box-shadow 0px 12px 8px 0px rgba(19, 61, 129, 0.12)
                text-transform uppercase
                font-size 17px
                font-family fontSlab
                font-weight 300
                color grayText
                line-height 1.3
                padding-top 8px
                transition all 200ms
                @media smallView
                    flex 0 0 148px
                    font-size 12px
                    margin 0 2px
                span
                    font-weight 700
                    color orangeColor
                &.active
                    color #fff
                    background-color blueColor
                    border-bottom-color #00a3de
                    span
                        color #fff
        &-content
            &-form
                animation-duration 200ms
                &:not(.active)
                    @extend .no-display
    &__coaches
        padding 90px 0 120px
        .block-title
            margin-bottom 40px

            
