mixin space()
  | !{' '}

div(block='course-content')
    div(elem='top')
        div(elem='top-img').wrapper-absolute
            - print render($content['field_course_pic_big'][0])
        .content-center
            div(elem='top-content').box-col.align-middle.full-height
                div(elem='top-date').box-col.align-center
                    b(elem='top-date-label'): - $block = module_invoke('views', 'block_view', 'course_dates-block'); print render($block['subject'])  
                        | :
                    b(elem='top-date-list'): - $block = module_invoke('views', 'block_view', 'course_dates-block'); print render($block['content'])  
                - print render($content['course_page_title'][0])
    div(elem='info')
        .content-center
            div(elem='info-content').box-col.align-middle.full-height
                h2.block-title.box-col.align-center.first-word-wrap
                    - print render($content['field_course_people']['#title'])
                - print render($content['field_course_people'][0])
    div(elem='main')
        .content-center
            div(elem='main-wrapper').box-row
                div(elem='main-content').box-col
                    b(elem='main-label'): - print render($content['body']['#title'])
                    h2(elem='main-title'): - print $title
                    div(elem='main-text') 
                        div(elem='main-text-inner').static-text: - print render($content['body'][0])
                        div(elem='main-text-full-button') [ читать далее ]
                div(elem='main-price').self-start.box-col
                    b(elem='main-price-title'): - print render($content['course_price']['#title'])    
                    - print render($content['course_price'][0])
    div(elem='order')
        .content-center
            div(elem='order-tabs').box-row.space-center
                div(elem='order-tabs-button').box-col.align-middle.first-word-wrap.active: - $block = module_invoke('webform', 'block_view', 'client-block-20'); print render($block['subject'])
                div(elem='order-tabs-button').box-col.align-middle.first-word-wrap: - $block = module_invoke('webform', 'block_view', 'client-block-21'); print render($block['subject'])
            div(elem='order-content')
                div(elem='order-content-form').order-form.animated.fadeInLeft.active: - $block = module_invoke('webform', 'block_view', 'client-block-20'); print render($block['content'])
                div(elem='order-content-form').order-form.animated.fadeInRight: - $block = module_invoke('webform', 'block_view', 'client-block-21'); print render($block['content'])
    div(elem='coaches')
        .content-center
            h2.block-title.box-col.align-center.first-word-wrap: - $block = module_invoke('views', 'block_view', 'coaches-block_1'); print render($block['subject'])  
            - $block = module_invoke('views', 'block_view', 'coaches-block_1'); print render($block['content'])      
                  