.layout-body.box-col
    - include ($directory.'/layout/blocks/medium-menu/medium-menu.php')
    section.layout-wrapper.box-col
        - include ($directory."/layout/blocks/header/header.php")
        section.layout-content.box-col             
            - $block = module_invoke('system', 'block_view', 'main'); print render($block['content'])  
    - include ($directory."/layout/blocks/footer/footer.php")