.action-content
    @media mediumView
        flex-direction column
        align-items center
    & > img
        border-radius 10px
        @media mediumView
            margin-bottom 40px
    &__main
        flex 0 0 550px
        @media mediumView
            flex 0 0 auto
    &__date
        flex 0 0 33px
        border-radius 5px
        color #fff
        background-color greenColor
        font-size 16px
        margin-bottom 40px
        padding 0 30px
        font-family fontSlab
        .date-display-range
            font-size 0
            span
                font-size 16px
        .date-display-start:after
            content ' - '
    &__title
        text-transform uppercase
        color orangeColor
        font-size 17px
        font-weight 900
        line-height 21px
        margin-bottom 35px