div(block='action-content').box-row.space-between
    - print render($content['field_action_pic'][0])
    div(elem='main').box-col
        b(elem='date').box-row.align-center.self-start: - print render($content['field_action_date'][0])
        h1(elem='title')- print $title
        .static-text: - print render($content['body'][0])
