.layout-body.box-col
    - include ($directory.'/layout/blocks/medium-menu/medium-menu.php')
    section.layout-wrapper.box-col
        - include ($directory."/layout/blocks/header/header.php")
        section.layout-content.box-col
            .site-container
                .content-center
                    div(block='page-top').box-row.align-center.space-between
                        h2.page-title Акции
                        div(elem='buttons')
                            - $block = module_invoke('block', 'block_view', '9'); print render($block['content'])      
                    - $block = module_invoke('system', 'block_view', 'main'); print render($block['content'])  
    - include ($directory."/layout/blocks/footer/footer.php")