//flexbox

.box-row,
.box-col
    display flex

.box-row
    flex-direction row

.box-col
    flex-direction column

.box-wrap
    flex-wrap wrap

.space-between
    justify-content space-between

.space-around
    justify-content space-around

.space-center
    justify-content center

.space-end
    justify-content flex-end  

.space-start
    justify-content flex-start  

.align-start
    align-items flex-start

.align-center
    align-items center

.align-end
    align-items flex-end

.align-baseline
    align-items baseline

.self-center
    align-self center

.self-end
    align-self flex-end

.self-start
    align-self flex-start

.self-baseline
    align-self baseline
    
.align-middle
    justify-content center
    align-items center
    
    
//inputs

.input-text
    height 50px
    background-color #fff
    border none
    border-radius 25px
    width 100%
    padding 0 40px
    box-shadow inset 1px 1px 0 #e0e0e0
    &.error
        border 1px solid red !important
    

.input-textarea
    background-color #fff
    border none
    border-radius 25px
    width 100%
    padding 20px 40px
    resize none
    box-shadow inset 1px 1px 0 #e0e0e0
    @media mediumView
        height 100px

input.field-checkbox
    display none
    & + label
        cursor pointer
        user-select none
        position relative
        @extend .box-row
        @extend .align-center
        font-weight 700
        @media mediumView
            align-items flex-start
        &:before
            content ''
            flex 0 0 21px
            height 21px
            background-color #fff
            box-shadow inset 0 0 0 5px #fff
            margin-right 20px
            border-left 1px solid #e0e0e0
            border-top 1px solid #e0e0e0
            transition background-color 200ms
    &:checked + label
        &:before
            background-color blueColor



//buttons

.blue-button
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    color white
    background blueColor
    font-size 10px
    text-decoration none
    text-transform uppercase
    border-radius 14px
    font-weight 900
    border none
    height 28px
    padding 0 25px
    letter-spacing 1px

.blue-button-2
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    color white
    background blueColor
    font-family fontSlab
    font-size 17px
    text-decoration none
    text-transform uppercase
    border-radius (49px / 2)
    font-weight 700
    border none
    height 49px
    padding 0 55px

.white-button
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    color white
    font-size 11px
    font-family Arial
    text-decoration none
    text-transform uppercase
    border-radius (58px / 2)
    font-weight 900
    border 2px solid blueColor
    height 58px
    padding 0 25px
    letter-spacing 1px

.white-button-2
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    color grayText
    font-size 13px
    font-family fontSlab
    text-decoration none
    text-transform uppercase
    background-color #fff
    border-radius (50px / 2)
    font-weight 700
    height 50px
    padding 2px 20px 0
    border-radius 20px
    box-shadow 0px 12px 8px 0px rgba(19, 61, 129, 0.12)
    border-bottom 8px solid #f1f4f0
    transition color 200ms
    &:hover,
    &.active
        color blueColor







//titles

    
.page-title
    font-family fontSlab
    text-transform uppercase
    font-size 31px
    font-weight 700
    color grayText
    line-height 1.2
    @media smallView
        font-size 25px
    .node-type-gallery &
        text-transform none
        font-size 22px
        line-height 1.3

.block-title
    text-transform uppercase
    font-family fontSlab
    font-size 21px
    font-weight 300
    color grayText
    margin-bottom 35px
    line-height 1.1
    text-align center
    span
        font-size 31px
        font-weight 700



