*
    margin 0
    padding 0
    box-sizing border-box

*:before,
*:after
    box-sizing border-box

html
    height 100%
    min-height 100%

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
    display block

body
    font 14px Arial, Tahoma, sans-serif
    height 100%
    color defColor
    line-height 1
    overflow-x hidden
    min-height 100vh
    &.no-scroll
        overflow-y hidden

.layout-body
    height 100vh
    min-height 100vh
    body.no-scroll &
        overflow hidden

.layout-wrapper
    min-width 320px
    flex 1 0 auto
    @media mediumView
        transition transform 200ms


.layout-content
    flex 1 0 auto


.static-text
    line-height 1.75
    p:not(:last-child)
        margin-bottom 25px
    ul
        &:not(:last-child)
            margin-bottom 25px
        list-style none
        li
            &:before
                content '• '
                font-weight bold
                color blueColor
                .page-node-116 &
                    color orangeColor



.site-container
    flex 1 1 auto
    padding 110px 0
    @media mediumView
        padding 90px 0
        .node-type-about &,
        .node-type-page &,
        .node-type-partners &,
        .node-type-clients &,
        .page-coaches &,
        .page-actions &
            padding-bottom 0
    .page-blogs &,
    .page-taxonomy-term &,
    .node-type-blog &
        background linear-gradient(to bottom, #f8f9fa 0%, #ffffff 50%)
    .node-type-contacts &
        padding-bottom 0



a 
    color blueColor
    outline none
    text-decoration underline
    &:hover
        text-decoration none  
p 
    margin 0

img 
    border none
    max-width 100%
    height auto

input,
textarea,
button
    font-family Arial, Tahoma, sans-serif
    font-size 14px
    vertical-align middle
    outline none

.content-center
    max-width 1180px
    margin 0 auto
    height 100% 
    position relative
    // border-left 1px solid red
    // border-right 1px solid red
    @media mediumView
        margin 0 20px
        // border-left 1px solid red
        // border-right 1px solid red
    @media smallView
        margin 0 10px

        


input,
textarea
    +placeholder()
        color defColor
        opacity 1
    &:focus
        +placeholder()
            opacity 0

.text-center
    text-align center

.hidden
    opacity 0

.visible 
    opacity 1

.hide-title
    position absolute !important
    clip rect(1px, 1px, 1px, 1px)
    height 1px
    overflow hidden

.full-height
    height 100%
    
.full-width
    width 100%

ul li.leaf-reset
    margin 0
    padding 0
    list-style none

.leaf-reset
    margin 0
    padding 0
    list-style none
    
.wrapper-absolute
    position absolute
    width 100%
    height 100%
    left 0
    top 0

.no-display
    display none

.no-decoration
    text-decoration none
    &:hover
        text-decoration underline
    
.small-view
    @media mediumNoView
        display none
    
.medium-view
    @media largeView
        display none
    
.large-view
    @media smallView
        display none !important

.big-large-view
    @media mediumView
        display none   


.media-youtube-video
    @media mediumView
        position: relative
        padding-bottom: 56.25% 
        height: 0 !important
        overflow: hidden


.media-youtube-video iframe, 
.media-youtube-video object, 
.media-youtube-video embed
    @media mediumView
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%


