.clients-list
    margin 0 -35px -30px 0
    @media mediumView
        margin-right 0
        justify-content space-around
    & > img
        @extend .no-display
    &__logo
        flex 0 0 272px
        height 180px
        border 1px solid blueColor
        margin 0 30px 30px 0
        padding 5px
        @media mediumView
            margin 0 10px 40px
        img
            max-height 170px
            width auto