.front-gallery
    margin-bottom 90px
    &__list
        margin-right -5px
        @media mediumView
            justify-content center
        @media smallView
            margin 0
        a
            position relative
            flex 0 0 589px
            height 294px
            margin 0 1px 1px 0
            @media mediumView
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6)
                    display none
            @media smallView
                &:not(:first-child)
                    display none
            &:not(:hover)
                &:before,
                &:after
                    opacity 0
            img
                @extend .wrapper-absolute
                object-fit cover
            &:first-child,
            &:nth-child(2),
            &:nth-child(5),
            &:last-child
                flex 0 0 294px
            &:before,
            &:after
                content ''
                transition opacity 200ms
            &:before
                @extend .wrapper-absolute
                z-index 1
                background-color rgba(blueColor, 0.9)
            &:after
                position absolute
                left 50%
                top 50%
                transform translate(-50%, -50%)
                z-index 2
                sprite($icon-gallery-zoom)
