div(block='front-gallery')
    h2.block-title.first-word-wrap.box-col.align-center
        - print $title
    div(elem='list').box-row.box-wrap
        - print strip_tags(render($content['front_gallery_img']), '<a><img>')