.reviews-block
    padding 90px 0
    background-color grayBg
    &-content
        padding 0 160px
        @media mediumView
            padding 0 80px
        @media smallView
            padding 0
        & > p
            margin-top 50px
            @media smallView
                margin-top 40px
            a
                font-weight 900
                @extend .no-decoration

.reviews-slider
    &-item
        font-size 16px
        font-family Georgia
        line-height 30px
        font-style italic
        &:before
            content ''
            sprite($icon-reviews)
            margin-bottom 20px
    .owl-nav
        @media smallView
            display flex
            justify-content center
            margin-top 40px
        div
            font-size 0
            position absolute
            top 50%
            transform translateY(-50%)
            sprite($icon-reviews-arrow)
            @media smallView
                position relative
                transform translateY(0)
                margin 0 24px
            &.owl-prev
                left -105px
                transform translateY(-50%) rotate(-180deg)
                @media mediumView
                    left -80px
                @media smallView
                    left auto
                    transform translateY(0) rotate(-180deg)
            &.owl-next
                right -105px
                @media mediumView
                    right -80px
                @media smallView
                    right auto
            &:hover
                sprite($icon-slider-arrow-hover)