.front-header
    flex 0 0 650px
    background url(../img/front-header.jpg) no-repeat center
    background-size cover
    @media mediumView
        background none
    &__text
        flex 1 1 auto
        color #fff
        text-transform uppercase
        font-family fontSlab
        font-weight 300
        font-size 79px
        line-height 1.1
        @media mediumView
            background url(../img/front-header-medium.jpg) no-repeat center
            background-size cover
            font-size 52px
        @media smallView
            background url(../img/front-header-small.jpg) no-repeat center
            background-size cover
        p:first-child
            font-size 50px
            letter-spacing 7px
            @media mediumView
                font-size 25px
        p:last-child
            margin-top 60px
        a
            @extend .white-button

.preim-block
    margin-bottom 90px
    h3
        @extend .box-col
        @extend .align-center
        @extend .block-title
        @media smallView
            margin 0 20px 35px
    ul
        list-style none
        @extend .box-row
        @extend .space-around
        @media mediumView
            flex-wrap wrap
            justify-content center
        li
            @extend .box-col
            @extend .align-center
            font-family fontSlab
            line-height 18px
            color grayText
            flex 0 0 130px
            @media mediumView
                margin 0 45px 50px
            @media smallView
                margin 0 0 40px
                flex 0 0 145px
            &:before
                content ''
                flex 0 0 96px
                width 96px
                border-radius 50%
                margin-bottom 25px
                border-radius 50%
                box-shadow 0px 12px 8px 0px rgba(19, 61, 129, 0.12)
            &:first-child:before
                sprite($preim-1)
            &:nth-child(2):before
                sprite($preim-2)
            &:nth-child(3):before
                sprite($preim-3)
            &:nth-child(4):before
                sprite($preim-4)
            &:last-child:before
                sprite($preim-5)

.front-bottom
    padding 90px 0

.front-about
    padding 0 135px
    @media mediumView
        padding 0
    &__text
        transition max-height 1s
        &:not(.active)
            overflow hidden
            max-height 410px
        &.active
            max-height 5000px 
    &__full-button
        cursor pointer
        user-select none
        color blueColor
        font-weight 900
        margin-top 35px
        .front-about__text.active + &
            @extend .no-display

            