.layout-body.box-col
    - include ($directory.'/layout/blocks/medium-menu/medium-menu.php')
    section.layout-wrapper.box-col
        div(block='front-header').box-col
            - include ($directory.'/layout/blocks/header/header.php')
            div(elem='text').box-col.align-middle
                - $block = module_invoke('block', 'block_view', '2'); print render($block['content'])
        section.layout-content.box-col
            div(block='events-anonce')
                .content-center
                    h2.block-title.first-word-wrap.box-col.align-center
                        - $block = module_invoke('views', 'block_view', 'first_courses-block'); print render($block['subject'])      
                    - $block = module_invoke('views', 'block_view', 'first_courses-block'); print render($block['content'])
            div(block='preim-block')
                .content-center
                    - $block = module_invoke('block', 'block_view', '3'); print render($block['content'])
            div(block='actions-anonce')
                .content-center
                    - $block = module_invoke('views', 'block_view', 'actions-block'); print render($block['content']) 
            div(block='reviews-block')
                .content-center
                    h2.block-title.first-word-wrap.box-col.align-center
                        - $block = module_invoke('views', 'block_view', 'reviews-block_1'); print render($block['subject'])      
                    - $block = module_invoke('views', 'block_view', 'reviews-block_1'); print render($block['content'])
            .front-bottom
                .content-center
                    div(block='last-blogs')
                        h2.block-title.first-word-wrap.box-col.align-center
                            - $block = module_invoke('views', 'block_view', 'blog-block_1'); print render($block['subject']) 
                        - $block = module_invoke('views', 'block_view', 'blog-block_1'); print render($block['content'])
                    - $block = module_invoke('nodeblock', 'block_view', '130'); print render($block['content'])
                    div(block='front-about').box-col
                        div(elem='text').static-text
                            - $block = module_invoke('block', 'block_view', '7'); print render($block['content'])
                        span(elem='full-button').self-start [ читать далее ]
    - include ($directory.'/layout/blocks/footer/footer.php')