.coach-content
    @media mediumView
        flex-direction column
        align-items center
    &__img
        position relative
        flex 0 0 272px
        height 340px
        @media mediumView
            flex 0 0 340px
            width 272px
            margin-bottom 40px
        img
            @extend .wrapper-absolute
    &__special
        position relative
        color #fff
        padding 0 20px
        background-color rgba(greenColor, 0.9)
        flex 0 0 71px
    &__main
        flex 0 0 850px
        max-width 850px
        @media mediumView
            flex 0 0 auto
            max-width inherit
            width 100%
    &__title
        padding-bottom 25px
        border-bottom 1px solid blueColor
        margin-bottom 50px
        @media mediumView
            text-align center
    &__text
        font-size 16px
        margin-bottom 100px
        strong
            color grayText
    &__serts
        margin-bottom 100px
        &-title
            padding-bottom 25px
            border-bottom 1px solid blueColor
            margin-bottom 40px
            @media mediumView
                text-align center
        &-list
            &:not(.owl-carousel)
                @extend .box-row
                @media mediumView
                    justify-content center
                    a
                        margin 0 !important
                a
                    margin-right 25px
                    flex 0 0 267px
            a
                position relative
                width 267px
                height 374px
                display block
                @media mediumView
                    margin 0 auto
                &:not(:hover)
                    &:before,
                    &:after
                        opacity 0
                &:before,
                &:after
                    content ''
                    transition opacity 200ms
                &:before
                    @extend .wrapper-absolute
                    z-index 1
                    background-color rgba(blueColor, 0.9)
                &:after
                    position absolute
                    left 50%
                    top 50%
                    transform translate(-50%, -50%)
                    z-index 2
                    sprite($icon-gallery-zoom)
        .owl-nav
            @extend .box-row
            position absolute
            right 0
            top -90px
            @media mediumView
                position relative
                top 0
                right auto
                justify-content center
                margin-top 40px
            div
                font-size 0
                sprite($icon-reviews-arrow)
                margin-left 10px
                &.owl-prev
                    transform rotate(-180deg)
                &:hover
                    sprite($icon-slider-arrow-hover)
    &__courses
        &-title
            padding-bottom 25px
            border-bottom 1px solid blueColor
            margin-bottom 40px
            @media mediumView
                text-align center
        &-list
            font-size 20px
            font-weight 700
            font-family fontSlab
            line-height 50px
            @media mediumView
                line-height 30px
            a
                color grayText
                @extend .no-decoration
                @media mediumView
                    &:not(:last-child)
                        margin-bottom 30px
                &:hover
                    color blueColor
                &:before
                    content '• '
                    color blueColor
