div(block='coach-content').box-row.space-between
    div(elem='img').box-col.space-end
        - print render($content['field_coach_pic'][0])
        - if ($content['field_coach_special']): 
            div(elem='special').box-row.align-middle.text-center: - print render($content['field_coach_special'][0])
        - endif
    div(elem='main')
        h1(elem='title').page-title: - print $title
        div(elem='text').static-text: - print render($content['body'][0])
        - if ($content['field_coach_serst']): 
            div(elem='serts').box-col
                b(elem='serts-title').page-title: - print render($content['field_coach_serst']['#title'])
                div(elem='serts-list'): - print strip_tags(render($content['field_coach_serst']), '<a><img>')
        - endif
        div(elem='courses').box-col
            b(elem='courses-title').page-title: - print render($content['field_coach_curses']['#title'])
            div(elem='courses-list').box-col: - print strip_tags(render($content['field_coach_curses']), '<a>')
