.corporate-content
    &__subtitle
        margin-bottom 65px
        @media smallView
            text-align center
        h2
            font-size 21px
            font-family fontSlab
            font-weight 300
            color grayText
    &__order
        padding 70px 0 90px
        background-color grayBg
        margin-bottom 90px
        @media mediumView
            padding-bottom 80px
        .webform-client-form > div
            @extend .box-row
            @extend .box-wrap
            @extend .space-between
            @media mediumView
                flex-direction column
    &__bottom
        font-size 16px
        h3
            color orangeColor
            text-transform uppercase
            font-family fontSlab
            font-size 20px
            margin-bottom 35px
        h4
            color orangeColor
            font-size 16px
        a
            color orangeColor
        ul
            li:before
                color orangeColor
            