div(block='corporate-content')
    div(elem='subtitle')
        .content-center
            h2: - print render($content['corporate_subtitle'][0])
    div(elem='order')
        .content-center
            .order-form: - $block = module_invoke('webform', 'block_view', 'client-block-33'); print render($block['content'])
    div(elem='bottom')
        .content-center
            .static-text: - print render($content['body'][0])