.layout-body.box-col
    - include ($directory.'/layout/blocks/medium-menu/medium-menu.php')
    section.layout-wrapper.box-col
        - include ($directory."/layout/blocks/header/header.php")
        section.layout-content.box-col
            .site-container
                .about-top
                    .content-center
                        div(block='page-top').box-row.align-center.space-between
                            h1.page-title: - print $title
                            div(elem='buttons')
                                - $block = module_invoke('block', 'block_view', '9'); print render($block['content'])      
                        - $block = module_invoke('system', 'block_view', 'main'); print render($block['content'])  
                div(block='events-anonce')
                    .content-center
                        h2.block-title.first-word-wrap.box-col.align-center
                            - $block = module_invoke('views', 'block_view', 'first_courses-block'); print render($block['subject'])      
                        - $block = module_invoke('views', 'block_view', 'first_courses-block'); print render($block['content'])
    - include ($directory."/layout/blocks/footer/footer.php")