.course-coaches-list
    margin-bottom -50px
    @media mediumView
        justify-content space-around
    &-item
        flex 0 0 552px
        margin-bottom 50px
        @media mediumView
            flex-direction column
            flex 0 0 272px
    &-img
        position relative
        flex 0 0 272px
        height 340px
        margin-right 30px
        @media mediumView
            margin 0
            flex 0 0 340px
            margin-bottom 35px
        a:first-child
            @extend .wrapper-absolute
        a:last-child
            @extend .box-row
            @extend .align-middle
            position relative
            flex 0 0 83px
            padding 0 60px
            background-color rgba(greenColor, 0.9)
            transition background-color 200ms
            text-transform uppercase
            font-size 17px
            font-family fontSlab
            line-height 1.3
            color #fff
            text-decoration none
        &:hover a:last-child
            background-color rgba(blueColor, 0.9)
    &-desc
        flex 1 1 auto
        line-height 24px
        strong
            color blueColor