.course-coaches-list-img.box-col.space-end.text-center
    - print $fields['field_coach_pic']->content
    - print $fields['title']->content
.course-coaches-list-desc
    - print $fields['body']->content
