.article-content
    &__main
        margin-bottom 60px
        @media mediumView
            display flex
            flex-direction column
            align-items center
        & > img
            float left
            margin 0 75px 10px 0
            @media mediumView
                float none
                margin 0 0 50px
    &__wrapper
        @media mediumView
            display flex
            flex-direction column
            align-items center
    &__title
        text-transform uppercase
        font-weight 900
        font-size 17px
        color grayText
        margin-bottom 35px
        line-height 21px
        @media mediumView
            text-align center
    &__date-social
        margin-bottom 60px
        @media mediumView
            flex-direction column
            align-items center
    &__pub-date
        margin-right 30px
        color #fff
        background-color blueColor
        flex 0 0 100px
        height 30px
        font-size 12px
        @media mediumView
            flex 0 0 30px
            width 100px
            margin 0 0 40px
    &__social-buttons
        @media mediumView
            width 300px
    &__gallery
        margin 0 -5px 90px 0
        @media mediumView
            justify-content center
            margin-right 0
        a
            position relative
            flex 0 0 589px
            height 294px
            margin 0 1px 1px 0
            @media mediumView
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6)
                    display none
            @media smallView
                &:not(:first-child)
                    display none
            &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6))
                @extend .no-display
            &:not(:hover)
                &:before,
                &:after
                    opacity 0
            img
                @extend .wrapper-absolute
                object-fit cover
            &:first-child,
            &:nth-child(2),
            &:nth-child(5),
            &:nth-child(6)
                flex 0 0 294px
            &:before,
            &:after
                content ''
                transition opacity 200ms
            &:before
                @extend .wrapper-absolute
                z-index 1
                background-color rgba(blueColor, 0.9)
            &:after
                position absolute
                left 50%
                top 50%
                transform translate(-50%, -50%)
                z-index 2
                sprite($icon-gallery-zoom)
    &__comments
        &-title
            border-bottom 1px solid blueColor
            padding-bottom 25px
            margin-bottom 40px