div(block='article-content')
    div(elem='main')
        - print render($content['field_blog_pic'][0])
        div(elem='wrapper')
            h1(elem='title')- print $title
            div(elem='date-social').box-row.align-center
                span(elem='pub-date').box-row.align-middle: - $custom_date = format_date($node->created, 'custom', 'd / m / Y'); print t('!datetime', array('!datetime' => $custom_date))
                div(elem='social-buttons')- $block = module_invoke('block', 'block_view', '9'); print render($block['content'])
            .static-text: - print render($content['body'][0])
    div(elem='gallery').box-row.box-wrap: - print strip_tags(render($content['blog_gallery']), '<a><img>')
    div(elem='comments')
        h2(elem='comments-title').page-title Комментарии
        .fb-comments(data-href='https://www.facebook.com/1aid.com.ua' data-width='100%' data-numposts='20')
    