footer.layout-footer
    .content-center
        div(block='footer-content').box-col.space-between.full-height
            div(elem='menu').big-large-view
                - $block = module_invoke('menu', 'block_view', 'main-menu'); print render($block['content'])
            div(elem='bottom').box-row.space-between
                div(elem='info').box-col.big-large-view
                    a(href!='<?php print $front_page; ?>' elem='logo').box-row.align-center
                        img(src!='<?php print $logo; ?>')
                        - print $site_slogan
                    div(elem='info-text')
                        - $block = module_invoke('block', 'block_view', '4'); print render($block['content'])
                div(elem='plugin').self-end.big-large-view
                    - $block = module_invoke('block', 'block_view', '6'); print render($block['content'])
                div(elem='contacts').box-col.space-between.self-end
                    div(elem='tels').box-row.align-center.big-large-view
                        div(elem='tels-text')
                            - $block = module_invoke('block', 'block_view', '1'); print render($block['content'])
                    div(elem='copy')
                        - $block = module_invoke('block', 'block_view', '8'); print render($block['content'])
.back-top.animated.slideInUp
                    
