.layout-footer
    flex 0 0 424px
    background url(../img/footer.jpg) no-repeat center
    background-size cover
    @media mediumView
        flex 0 0 100px
    @media smallView
        flex 0 0 183px
        background url(../img/footer-small.jpg) no-repeat center
        background-size cover

.footer-content
    color #fff
    font-size 13px
    padding 50px 0 70px
    @media mediumView
        padding 0
    &__menu
        & > .menu
            list-style none
            @extend .box-row
            @extend .space-between
            & > li
                &.expanded
                    @extend .no-display
                & > a
                    text-decoration none
                    color #fff
                    text-transform uppercase
                    font-family fontSlab
                    font-weight 700
                    font-size 14px
                & > .menu
                    @extend .no-display
    &__bottom
        @media mediumView
            height 100%
    &__info
        flex 0 0 375px
        &-text
            line-height 22px
    &__logo
        margin-bottom 25px
        color #fff
        text-decoration none
        font-size 19px
        text-transform uppercase
        font-family fontSlab
        font-weight 300
        line-height 1.2
        img
            margin-right 20px
    &__plugin
        flex 0 0 510px
        height 230px
    &__contacts
        height 230px
        flex 0 0 182px
        @media mediumView
            height 100%
            flex 1 1 100%
    &__tels
        &:before
            content ''
            sprite($icon-tel-white)
            margin-right 15px
        &-text
            font-size 19px
            font-family fontSlab
            font-weight 300
            line-height 1.3
            strong
                font-weight 900
    &__copy
        line-height 1.2
        @media mediumView
            line-height 1
            flex 1 1 100%
            display flex
            align-items center
            justify-content space-around
        @media smallView
            flex-direction column
            justify-content center
        p:first-child
            margin-bottom 20px
            @media mediumView
                margin 0
            @media smallView
                margin-bottom 20px
        a
            color #fff

.back-top
    cursor pointer
    position fixed
    z-index 100
    right 10px
    bottom 10px
    sprite($icon-up)
    animation-duration 200ms
    &:not(.active)
        @extend .no-display
    &:hover
        opacity 0.5
