.layout-header
    height 148px
    position relative
    z-index 2
    body:not(.front) &
        box-shadow 0px 8px 8px 0px rgba(0, 0, 0, 0.12)
    @media mediumView
        height 161px
        background-color #fff
        .front &
            box-shadow 0px 8px 8px 0px rgba(0, 0, 0, 0.12)

.header-content
    padding-top 10px
    position relative
    @media mediumView
        padding-top 20px
        justify-content flex-start
        align-items center

.header-top
    @media mediumView
        margin-bottom 15px
    @media screen and (max-width: 400px)
        width 100%
    &__logo
        color orangeColor
        text-transform uppercase
        font-family fontSlab
        font-weight 300
        flex 0 0 330px
        line-height 1.3
        text-decoration none
        font-size 19px
        @media largeView
            body.front &
                color #fff
        img
            margin-right 14px
        @media mediumView
            position absolute
            bottom 10px
            left 50%
            width 217px
            height 60px
            background url(../img/logo-small.png)
            font-size 0
            margin-left (-217px / 2)
        @media smallView
            left 0
            margin 0
            bottom 20px
    &__buttons
        .menu
            @extend .box-row
            .leaf
                margin 0 5px
                a
                    color #fff
                div
                    @extend .no-display
    &__socials
        .menu
            @extend .box-row
            font-size 0
            .leaf
                margin 0 (3px / 2)
                a
                    display block
                    &.link-twitter
                        sprite($icon-tw)
                        body.front &
                            sprite($icon-tw-white)
                    &.link-vk
                        sprite($icon-vk)
                        body.front &
                            sprite($icon-vk-white)
                    &.link-fb
                        sprite($icon-fb)
                        body.front &
                            sprite($icon-fb-white)
                    &.link-plus
                        sprite($icon-plus)
                        body.front &
                            sprite($icon-plus-white)
                    &.link-ytb
                        sprite($icon-ytb)
                        body.front &
                            sprite($icon-ytb-white)
    &__tels
        @media largeView
            &:before
                content ''
                sprite($icon-tel)
                margin-right 11px
        @media screen and (max-width: 400px)
            flex 1 1 100%
        &-text
            font-size 19px
            font-weight 700
            font-family fontSlab
            color grayText
            line-height 1.3
            @media largeView
                body.front &
                    color #fff
            @media mediumView
                display flex
                p
                    margin 0 15px
                    @media screen and (max-width: 400px)
                        margin 0
            @media screen and (max-width: 400px)
                flex 1 1 100%
                justify-content space-between
                    


.header-bottom
    &__menu
        flex 1 1 auto
        & > .menu
            @extend .box-row
            @extend .space-between
            & > li
                & > a
                    text-decoration none
                    text-transform uppercase
                    font-family fontSlab
                    font-weight 300
                    color grayText
                    height 38px
                    padding 8px 10px 0
                    body.front &
                        color #fff
                        font-weight 700
                    body:not(.front) &.active-trail
                        background-color orangeColor
                        color #fff
                        border-top-left-radius 15px
                        border-top-right-radius 15px
                        &:after
                            border-color #fff !important
                &.expanded
                    position relative
                    &:nth-child(2)
                        & > .menu
                            width 180px
                    &:hover
                        & > a
                            border-top-left-radius 5px !important
                            border-top-right-radius 5px !important
                            background-color rgba(0, 174, 239, 0.97) !important
                            color #fff !important
                            &:after
                                border-color #fff
                    & > a
                        transition all 200ms
                        &:after
                            content ''
                            flex 0 0 9px
                            width 9px
                            height 9px
                            border-bottom 2px solid blueColor
                            border-right 2px solid blueColor
                            margin-left 10px
                            transform rotate(45deg)
                            transition border-color 200ms
                    &:not(:hover)
                        & > .menu
                            @extend .no-display
                    & > .menu
                        position absolute
                        left 0
                        top 38px
                        z-index 5
                        animation-duration 200ms
                        list-style none
                        border-bottom-left-radius 5px
                        border-bottom-right-radius 5px
                        background-color rgba(0, 174, 239, 0.97)
                        padding 30px 40px
                        width 707px
                        & > .leaf
                            @extend .leaf-reset
                            &:not(.last)
                                margin-bottom 14px
                            & > a
                                white-space nowrap
                                color #fff
                                font-size 15px
                                font-family fontSlab
                                font-weight 300
                                @extend .no-decoration
                                &:hover
                                    font-weight 700
    &__langs
        @media largeView
            margin-left 30px
            padding-top 7px
        .language-switcher-locale-url
            list-style none
            @extend .box-row
            font-size 0
            .language-link
                display block
                @media mediumView
                    box-shadow 0px 4px 4px 0px rgba(0, 0, 0, 0.2)
            .first
                .language-link
                    sprite($icon-ua)
            .last
                margin-left 10px
                .language-link
                    sprite($icon-ru)

.burger-button
    cursor pointer
    position absolute
    right 0
    bottom 36px
    width 40px
    height 27px
    &:before,
    &:after,
    i
        content ''
        flex 0 0 5px
        background-color orangeColor
        border-radius (5px / 2)
        transition background-color 200ms
        .burger-button.active &
            background-color blueColor
    i
        width 30px
    &.active
        &:before,
        &:after,
        i
            background-color blueColor

