- render($page['content']['metatags'])
header.layout-header
    .content-center
        .header-content.box-col.full-height.space-between
            div(block='header-top').box-row.align-center.space-between
                a(href!='<?php print $front_page; ?>' elem='logo').box-row.align-center
                    img(src!='<?php print $logo; ?>').big-large-view
                    - print $site_slogan
                div(elem='buttons').big-large-view
                    - $block = module_invoke('menu', 'block_view', 'menu-top-menu'); print render($block['content'])
                div(elem='socials').big-large-view
                    - $block = module_invoke('menu', 'block_view', 'menu-social-links'); print render($block['content'])
                div(elem='tels').box-row.align-center
                    div(elem='tels-text')
                        - $block = module_invoke('block', 'block_view', '1'); print render($block['content'])
            div(block='header-bottom').box-row
                div(elem='menu').big-large-view
                    - $block = module_invoke('menu', 'block_view', 'main-menu'); print render($block['content'])
                div(elem='langs')
                    - $block = module_invoke('locale', 'block_view', 'language'); print render($block['content'])
            .burger-button.box-col.space-between.medium-view: i
                
                

