.contacts-content
    &__top
        margin-bottom 60px
        @media smallView
            text-align center
            & + div
                height 300px !important
        .static-text
            strong
                color orangeColor
            a
                @extend .no-decoration
                color defColor
.contacts-order
    padding 90px 0
    background-color grayBg
    @media mediumView
        padding-top 60px
    .page-title
        margin-bottom 70px
        u
            text-decoration none
            border-bottom 1px solid blueColor
            padding 0 10px 20px