.layout-body.box-col
    - include ($directory.'/layout/blocks/medium-menu/medium-menu.php')
    section.layout-wrapper.box-col
        - include ($directory.'/layout/blocks/header/header.php')
        section.layout-content
            .site-container
                .content-center
                    div(block='page-top').box-row.align-center.space-between
                        h1.page-title: - print $title
                        div(elem='buttons')
                            - $block = module_invoke('block', 'block_view', '9'); print render($block['content'])      
                - $block = module_invoke('system', 'block_view', 'main'); print render($block['content'])
                div(block='contacts-order')
                    .content-center
                        h3.page-title.text-center: u: - $block = module_invoke('webform', 'block_view', 'client-block-144'); print render($block['subject'])
                        .order-form: - $block = module_invoke('webform', 'block_view', 'client-block-144'); print render($block['content'])
    - include ($directory.'/layout/blocks/footer/footer.php')