.blog-subscribe
    flex 0 0 372px
    max-width 372px
    height 537px
    background-image url(../img/subscribe-bg.png)
    color #fff
    padding 60px
    margin 0 31px 50px 0
    @media mediumView
        margin 0 15px 50px
        flex 0 0 300px
        max-width 300px
        height 532px
        background-size cover
        overflow hidden
        border-radius 10px
        padding 60px 35px
    &__title
        font-size 24px
        font-family fontSlab
        line-height 30px
    &__desc
        font-size 15px
        margin-bottom 40px
    .form-item
        margin 0
    .form-text
        width 100%
        height 50px
        background-color rgba(255, 255, 255, 0.12)
        border-radius 25px
        color #fff
        text-align center
        border none
        padding 0 20px
        +placeholder()
            color white
    .form-actions
        margin 75px 0 0
        @extend .box-row
        @extend .space-center
        div
            @extend .no-display
    .form-submit
        @extend .blue-button-2
        width 100%
        height 96px
        border-radius (96px / 2)
        background-color #00aeef
        box-shadow 0px 12px 8px 0px rgba(19, 61, 129, 0.12)
        border-bottom 8px solid #00a3de
