.page-top
    margin-bottom 90px
    padding-bottom 18px
    border-bottom 1px solid blueColor
    @media smallView
        flex-direction column
        align-items center
        border none
        padding 0
        margin-bottom 60px
        .page-title
            width 100%
            border-bottom 1px solid blueColor
            padding-bottom 25px
            margin-bottom 25px
            text-align center
    .node-type-corporate &
        margin-bottom 25px
    &__buttons
        width 270px
        height 50px
        white-space nowrap
        flex 0 0 auto
    .menu
        @extend .box-row
        .last
            margin-left 28px
            @media smallView
                margin-left 4px
        a
            width 250px
            @media smallView
                height 96px
                width 148px
                text-align center
                border-radius (96px / 2)
    & + .blog-subscribe
        @extend .no-display

.page-static-container
    margin-bottom 120px

.site-container
    .pager
        font-family fontSlab
        font-size 21px
        font-weight 700
        color grayText
        @extend .box-row
        @extend .align-middle
        li
            @extend .leaf-reset
            margin 0 8px
            &.pager-first,
            &.pager-last
                @extend .no-display
            &.pager-current
                color blueColor
            &.pager-previous,
            &.pager-next
                a
                    font-size 0
                    display block
                    sprite($icon-reviews-arrow)
                    &:hover
                        sprite($icon-slider-arrow-hover)
            &.pager-previous
                margin 0 30px 0 0
                a
                    transform rotate(-180deg)
            &.pager-next
                margin 0 0 0 30px
            a
                text-decoration none
                color grayText
                &:hover
                    color blueColor