div(block='blog-subscribe').box-col.space-between.text-center
    b(elem='title'): - $block = module_invoke('webform', 'block_view', 'client-block-11'); print render($block['subject'])
    - $block = module_invoke('webform', 'block_view', 'client-block-11'); print render($block['content'])
.blogs-list.full-list.box-row.box-wrap
    - print $rows
- if ($pager):
    - print $pager
- endif
