.album-content
    .field-type-image
        margin-right -35px
        @media mediumView
            margin-right 0
    .field-items
        margin-bottom -40px
        @extend .box-row
        @extend .box-wrap
        @media mediumView
            justify-content space-around
        .field-item
            margin 0 31px 40px 0
            @media mediumView
                margin 0 10px 40px
        a
            @extend .box-col
            position relative
            @media mediumView
                width 344px
            @media smallView
                width auto
            &:not(:hover)
                &:before,
                &:after
                    opacity 0
            &:before,
            &:after
                content ''
                transition opacity 200ms
            &:before
                @extend .wrapper-absolute
                z-index 1
                background-color rgba(blueColor, 0.9)
            &:after
                position absolute
                left 50%
                top 50%
                transform translate(-50%, -50%)
                z-index 2
                sprite($icon-gallery-zoom)
    .item-list
        margin-top 70px
        &:empty
            @extend .no-display