.medium-menu-panel
    position fixed
    top 0
    width 260px
    right -260px
    padding 40px 15px
    background-color greenColor
    overflow-x hidden
    overflow-y auto
    transition all 0.2s ease
    transform 0.4s linear 0s
    &.active
        transform translate(-260px, 0px)
        ~ .layout-wrapper,
        ~ .footer-layout
            transform translate(-260px, 0px)
    &__top
        margin-bottom 60px
        .menu
            .first
                margin-bottom 10px
            .last
                width 167px
            a
                padding 0 10px
                color #fff
    &__menu
        margin-bottom 60px
        & > .menu
            & > li
                &:not(.last)
                    margin-bottom 25px
                &:not(.active)
                    & > .menu
                        @extend .no-display
                & > a
                    text-decoration none
                    color #fff
                    text-transform uppercase
                    font-family fontSlab
                & > .menu
                    padding-top 20px
                    line-height 1.2
                    animation-duration 200ms
                    & > li
                        @extend .leaf-reset
                        @extend .box-row
                        &:before
                            content '•'
                            color blueColor
                            font-weight 700
                            margin-right 4px
                        &:not(.last)
                            margin-bottom 10px
                        & > a
                            text-decoration none
                            color #fff
                            font-weight 700
    &__socials
        .menu
            @extend .box-row
            font-size 0
            .leaf
                margin-right 3px
                a
                    display block
            .link-twitter
                sprite($icon-tw-white)
            .link-vk
                sprite($icon-vk-white)
            .link-fb
                sprite($icon-fb-white)
            .link-plus
                sprite($icon-plus-white)
            .link-ytb
                sprite($icon-ytb-white)
            