div(block='medium-menu-panel').full-height.medium-view
    div(elem='top')- $block = module_invoke('menu', 'block_view', 'menu-top-menu'); print render($block['content'])
    div(elem='menu')- $block = module_invoke('menu', 'block_view', 'main-menu'); print render($block['content'])
    div(elem='socials')- $block = module_invoke('menu', 'block_view', 'menu-social-links'); print render($block['content'])
    
    
    