.actions-list
    margin-bottom -30px
    @media mediumView
        justify-content space-around   
        margin-bottom -90px
    &-item
        position relative
        flex 0 0 571px
        height 323px
        margin-bottom 30px
        overflow hidden
        border-radius 10px
        color #fff
        padding 60px 50px 55px
        @media mediumView
            flex-direction column
            align-items center
            flex 0 0 300px
            height 323px
            margin-bottom 90px
            text-align center
            padding 0 30px 40px
            overflow visible
        &__img
            @media mediumView
                border-radius 10px
                overflow hidden
            &:after
                content ''
                @extend .wrapper-absolute
                background-color rgba(#00384c, 0.7)
            img
                @media mediumView
                    position absolute
                    width 100%
                    height 100%
                    left 0
                    top 0
                    object-fit cover
        &__discount
            position relative
            flex 0 0 141px
            height 141px
            border-radius 50%
            background-color blueColor
            font-family fontSlab
            font-size 51px
            font-weight 100
            margin-right 60px
            transition background-color 200ms
            @media mediumView
                flex 0 0 93px
                width 93px
                margin (-93px / 2) 0 30px
                font-size 30px
            .actions-list-item:hover &
                background-color orangeColor
        &__main
            position relative
            flex 1 1 auto
            @media mediumView
                align-items center
            & > a
                text-decoration none
                color #fff
                text-transform uppercase
                font-size 17px
                font-weight 900
                line-height 21px
                flex 0 0 36px
                &:hover
                    color orangeColor
        &__desc
            line-height 24px
            flex 0 0 90px
            a
                font-weight 900
                margin-left 15px
                white-space nowrap
                text-decoration none
                &:hover
                    color orangeColor
        &__date
            flex 0 0 33px
            border 1px solid #fff
            border-radius 5px
            padding 0 30px
            font-family fontSlab
            font-size 16px
            @media mediumView
                align-self center
            .date-display-range
                font-size 0
                span
                    font-size 16px
            .date-display-start:after
                content ' - '
