div(block='actions-list-item').box-row
    div(elem='img').wrapper-absolute: - print $fields['field_action_pic']->content
    span(elem='discount').box-row.align-middle: - print $fields['field_action_count']->content
    div(elem='main').box-col.space-between
        - print $fields['title']->content
        div(elem='desc')
            - print $fields['body']->content
            - print $fields['view_node']->content
        b(elem='date').box-row.align-center.self-start: - print $fields['field_action_date']->content