.last-blogs
    margin-bottom 90px

.blogs-list
    &.full-list
        margin 0 -35px -50px 0
        @media mediumView
            margin-right 0
            justify-content center
    &-item
        flex 0 0 372px
        @media mediumView
            flex 0 0 300px
        .last-blogs-list &
            width 372px
            @media mediumView
                margin 0 auto
                width 300px
        .blogs-list.full-list &
            margin 0 31px 50px 0
            @media mediumView
                margin 0 15px 50px
        &-top
            position relative
            flex 0 0 252px
            padding 110px 40px 0
            @media mediumView
                flex 0 0 203px
                padding 0 20px 30px
                justify-content flex-end
            a:first-child
                @extend .wrapper-absolute
                &:after
                    content ''
                    @extend .wrapper-absolute
                    background-color rgba(#000, 0.3)
            &__date
                position relative
                flex 0 0 30px
                width 100px
                background-color blueColor
                font-size 12px
                margin-bottom 15px
                color #fff
                .blogs-list-item:hover &
                    background-color orangeColor
            a:last-child
                position relative
                text-transform uppercase
                font-size 16px
                font-weight 900
                line-height 21px
                text-decoration none
                color #fff
        &-content
            flex 0 0 285px
            background-color grayBg
            padding 40px 50px
            @media mediumView
                flex 0 0 329px
                padding 40px 25px
                .last-blogs-list &
                    text-align center
            a
                text-decoration none
                font-weight 900
                &:hover
                    color orangeColor
    & ~ .item-list
        margin-top 90px
        .pager
            margin 0
            @extend .box-row
            @extend .align-middle
            list-style none

