div(block='blogs-list-item-top').box-col
    - print $fields['field_blog_pic']->content
    span(elem='date').box-row.align-middle
        - print $fields['created']->content
    - print $fields['title']->content
div(block='blogs-list-item-content').box-col.space-between
    div(elem='desc').static-text
        - print $fields['body']->content
    - print $fields['view_node']->content
