.xdsoft_datetimepicker
    background-color #ffffff
    box-shadow 0px 8px 8px 0px rgba(2, 23, 25, 0.08)
    font-size 13px
    color rgba(108, 113, 116, 0.3)
    font-weight 700
    width 230px
    position absolute
    z-index 9999
    -moz-box-sizing border-box
    box-sizing border-box
    margin-left 69px
    animation-duration 250ms !important
    display none
    iframe
        position absolute
        left 0
        top 0
        width 75px
        height 210px
        background transparent
        border none
    button
        border none !important
    &.xdsoft_inline
        display inline-block
        position static
        box-shadow none
    *
        -moz-box-sizing border-box
        box-sizing border-box
        padding 0
        margin 0
    .xdsoft_datepicker
        &.active
            & + .xdsoft_timepicker
                margin-top 8px
                margin-bottom 3px
    &.xdsoft_showweeks
        .xdsoft_datepicker
            width 256px
    .xdsoft_monthpicker
        position relative
        text-align center
        height 38px
        background blueColor
    .xdsoft_label
        i
            opacity 0.5
            background-position -92px -19px
            display inline-block
            width 9px
            height 20px
            vertical-align middle
            display none
        & > .xdsoft_select
            border 1px solid #ccc
            position absolute
            right 0
            top 30px
            z-index 101
            display none !important
            background #fff
            max-height 160px
            overflow-y hidden
            &.xdsoft_monthselect
                right -7px
            &.xdsoft_yearselect
                right 2px
            & > div
                & > .xdsoft_option
                    padding 2px 10px 2px 5px
                    text-decoration none !important
                    &:hover
                        color #fff
                        background #ff8000
                    &.xdsoft_current
                        background #33AAFF
                        box-shadow #178FE5 0 1px 3px 0 inset
                        color #fff
                        font-weight 700
    .xdsoft_prev
        left 0
        @extend .box-row
        @extend .align-middle
        &:not(:hover)
            opacity 0.5
        &:after
            content ''
            display block
            width 0
            height 0
            border-style solid
            border-width 5px 8px 5px 0
            border-color transparent white transparent transparent
        &:hover
            &:after
                border-color transparent #fff transparent transparent
    .xdsoft_today_button
        float left
        background-position -70px 0
        margin-left 5px
        display none
    .xdsoft_next
        right 0
        @extend .box-row
        @extend .align-middle
        &:not(:hover)
            opacity 0.5
        &:after
            content ''
            display block
            width 0
            height 0
            border-style solid
            border-width 5px 0 5px 8px
            border-color transparent transparent transparent #fff
        &:hover
            &:after
                border-color transparent transparent transparent #fff
    .xdsoft_month
        height 38px
        line-height 38px
        font-size 21px
        font-family fontSlab
        font-weight 300
        color #fff
        display inline-block
    .xdsoft_calendar
        clear both
        table
            border-collapse collapse
            width 100%
        td
            color #6c7174
            font-size 13px
            vertical-align middle
            padding 0
            border-collapse collapse
            cursor pointer
            height 32px
            text-align center
            border 1px solid #eeeeee
            font-weight 400
            & > div
            &.xdsoft_today
            &.xdsoft_other_month
                &.xdsoft_disabled
                    opacity 0.3
        tbody
            border none
        th
            font-weight normal
            text-align center
            color #6c7174
            font-size 9px
            text-transform uppercase
            height 20px
            line-height 20px
            cursor default
            background #e7ecf0
            border-bottom none
    .xdsoft_year
        height 38px
        line-height 38px
        font-size 21px
        font-weight 300
        font-family fontSlab
        color #fff
        display inline-block
        margin-left 5px
    .xdsoft_copyright
        color #ccc !important
        font-size 10px
        clear both
        float none
        margin-left 8px
        a
            color #eee !important
            &:hover
                color #aaa !important

@media screen and (max-width: 400px)
    .xdsoft_datetimepicker
        margin-left 40px

.xdsoft_noselect
    user-select none
    &::selection
        background transparent
    &::-moz-selection
        background transparent

.xdsoft_datetimepicker .xdsoft_datepicker, .xdsoft_datetimepicker  .xdsoft_timepicker
    display none

.xdsoft_datetimepicker .xdsoft_datepicker.active, .xdsoft_datetimepicker  .xdsoft_timepicker.active
    display block

.xdsoft_datetimepicker  .xdsoft_next,
.xdsoft_datetimepicker  .xdsoft_prev ,
.xdsoft_datetimepicker  .xdsoft_today_button
    cursor pointer
    position absolute
    top 0
    height 38px
    width 35px
    background none

.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_prev,
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_next
    float none
    background-position -40px -15px
    height 15px
    width 30px
    display block
    margin-left 14px
    margin-top 7px

.xdsoft_datetimepicker  .xdsoft_today_button:hover,
.xdsoft_datetimepicker  .xdsoft_next:hover,
.xdsoft_datetimepicker  .xdsoft_prev:hover
    opacity 1

.xdsoft_datetimepicker.xdsoft_showweeks  .xdsoft_calendar td,.xdsoft_datetimepicker.xdsoft_showweeks  .xdsoft_calendar th
    width 12.5%

.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current
    background #e7e9ea

.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_other_month,
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_disabled,
.xdsoft_datetimepicker  .xdsoft_time_box >div >div.xdsoft_disabled
    opacity 0.35

.xdsoft_datetimepicker  .xdsoft_calendar td:hover,
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box >div >div:hover
    background orangeColor !important
    box-shadow none !important
    color white !important

.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_disabled:hover,
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_disabled:hover
    color inherit !important
    background inherit !important
    box-shadow inherit !important

.xdsoft_time_box
    position relative
    border 1px solid #ccc

.xdsoft_scrollbar
    position absolute
    width 7px
    right 0
    top 0
    bottom 0
    cursor pointer
    & > .xdsoft_scroller
        background #ccc !important
        height 20px
        border-radius 3px

.xdsoft_scroller_box
    position relative





// .ui-helper-hidden
//     display none

// .ui-helper-hidden-accessible
//     border 0
//     clip rect(0 0 0 0)
//     height 1px
//     margin -1px
//     overflow hidden
//     padding 0
//     position absolute
//     width 1px

// .ui-helper-reset
//     margin 0
//     padding 0
//     border 0
//     outline 0
//     line-height 1.3
//     text-decoration none
//     font-size 100%
//     list-style none

// .ui-helper-clearfix:before,
// .ui-helper-clearfix:after
//     content ""
//     display table
//     border-collapse collapse

// .ui-helper-clearfix
//     min-height 0
//     &:after
//         clear both

// .ui-helper-zfix
//     width 100%
//     height 100%
//     top 0
//     left 0
//     position absolute
//     opacity 0
//     filter Alpha(Opacity=0)

// .ui-front
//     z-index 100

// .ui-state-disabled
//     cursor default !important

// .ui-icon
//     display block
//     text-indent -99999px
//     overflow hidden
//     background-repeat no-repeat

// .ui-widget-overlay
//     position fixed
//     top 0
//     left 0
//     width 100%
//     height 100%

// .ui-resizable
//     position relative

// .ui-resizable-handle
//     position absolute
//     font-size 0.1px
//     display block

// .ui-resizable-disabled .ui-resizable-handle,
// .ui-resizable-autohide .ui-resizable-handle
//     display none

// .ui-resizable-n
//     cursor n-resize
//     height 7px
//     width 100%
//     top -5px
//     left 0

// .ui-resizable-s
//     cursor s-resize
//     height 7px
//     width 100%
//     bottom -5px
//     left 0

// .ui-resizable-e
//     cursor e-resize
//     width 7px
//     right -5px
//     top 0
//     height 100%

// .ui-resizable-w
//     cursor w-resize
//     width 7px
//     left -5px
//     top 0
//     height 100%

// .ui-resizable-se
//     cursor se-resize
//     width 12px
//     height 12px
//     right 1px
//     bottom 1px

// .ui-resizable-sw
//     cursor sw-resize
//     width 9px
//     height 9px
//     left -5px
//     bottom -5px

// .ui-resizable-nw
//     cursor nw-resize
//     width 9px
//     height 9px
//     left -5px
//     top -5px

// .ui-resizable-ne
//     cursor ne-resize
//     width 9px
//     height 9px
//     right -5px
//     top -5px

// .ui-selectable-helper
//     position absolute
//     z-index 100
//     border 1px dotted black

// #ui-datepicker-div
//     &.ui-datepicker
//         width 227px
//         display none
//         border none
//         background #fff
//         font-family Tahoma
//         padding 0
//         margin 17px 0 0 -33px

// .ui-datepicker
//     .ui-datepicker-header
//         position relative
//         height 28px
//         overflow hidden
//         padding 0
//     .ui-datepicker-prev
//         left 0
//         span
//             left 10px
//             background-position -365px 0
//     .ui-datepicker-next
//         right 0
//         span
//             left 11px
//             background-position -374px 0
//     .ui-datepicker-title
//         text-align center
//         font-size 18px
//         text-transform uppercase
//         color #e57a05
//         line-height 28px
//         font-weight bold
//         .ui-datepicker-year
//             display none
//         select
//             font-size 1em
//             margin 1px 0
//     select
//         &.ui-datepicker-month-year
//             width 100%
//     table
//         width 200px
//         font-size 14px
//         border-collapse collapse
//         background #ffffff
//         color #414141
//         margin 0
//         border none
//         margin 0 auto
//     th
//         text-align center
//         border 0
//         color #e57a05
//         padding 0
//         height 18px
//     tbody
//         border none
//     td
//         border none:
//         width 20px
//         height 20px
//         text-align center
//         padding 0
//         &.ui-datepicker-today
//             a
//                 color #e57a05
//                 font-weight bold
//                 text-decoration underline
//         span
//             display block
//             text-decoration none
//             color #414141
//             height 100%
//             line-height 20px
//             padding 0
//             text-align center
//         a
//             display block
//             text-decoration none
//             color #e57a05
//             height 100%
//             line-height 20px
//             padding 0
//             text-align center
//             font-weight bold
//             text-decoration underline
//     .ui-datepicker-buttonpane
//         background-image none
//         margin .7em 0 0 0
//         padding 0 .2em
//         border-left 0
//         border-right 0
//         border-bottom 0
//         button
//             float right
//             margin .5em .2em .4em
//             cursor pointer
//             padding .2em .6em .3em .6em
//             width auto
//             overflow visible
//             &.ui-datepicker-current
//                 float left
//     &.ui-datepicker-multi
//         width auto

// .ui-datepicker .ui-datepicker-prev,
// .ui-datepicker .ui-datepicker-next
//     position absolute
//     top 0
//     width 23px
//     height 34px
//     cursor pointer
//     background #4d628a
//     height 28px
//     width 28px
//     -webkit-border-radius 3px
//     -moz-border-radius 3px
//     border-radius 3px

// .ui-datepicker .ui-datepicker-prev span,
// .ui-datepicker .ui-datepicker-next span
//     display block
//     position absolute
//     top 8px
//     width 7px
//     height 13px
//     margin 0

// .ui-datepicker select.ui-datepicker-month,
// .ui-datepicker select.ui-datepicker-year
//     width 49%

// .ui-datepicker-multi
//     .ui-datepicker-group
//         float left
//         table
//             width 95%
//             margin 0 auto .4em
//     .ui-datepicker-buttonpane
//         clear left

// .ui-datepicker-multi-2
//     .ui-datepicker-group
//         width 50%

// .ui-datepicker-multi-3
//     .ui-datepicker-group
//         width 33.3%

// .ui-datepicker-multi-4
//     .ui-datepicker-group
//         width 25%

// .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
// .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header
//     border-left-width 0

// .ui-datepicker-row-break
//     clear both
//     width 100%
//     font-size 0

// .ui-datepicker-rtl
//     direction rtl
//     .ui-datepicker-prev
//         right 2px
//         left auto
//         &:hover
//             right 1px
//             left auto
//     .ui-datepicker-next
//         left 2px
//         right auto
//         &:hover
//             left 1px
//             right auto
//     .ui-datepicker-buttonpane
//         clear right
//         button
//             float left

// .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
// .ui-datepicker-rtl .ui-datepicker-group
//     float right

// .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
// .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header
//     border-right-width 0
//     border-left-width 1px

