.chosen-container
    position relative
    display inline-block
    vertical-align top
    user-select none

.chosen-single
    width 100%
    @extend .box-row
    @extend .align-center
    @extend .space-between
    text-decoration none
    white-space nowrap
    cursor pointer
    user-select none
    position relative
    height 50px
    background-color #fff
    border none
    border-radius 25px
    padding 0 30px 0 40px
    box-shadow inset 1px 1px 0 #e0e0e0
    color defColor
    transition all 200ms
    .chosen-with-drop &
        background-color blueColor
        color #fff
        box-shadow inset 1px 1px 0 #0099d2
        z-index 11
        div
            border-color #fff
    div
        width 8px
        height 8px
        border-bottom 2px solid blueColor
        border-right 2px solid blueColor
        transform rotate(45deg)
        transition border-color 200ms


.chosen-drop
    width 100%
    position absolute
    background-color #FFF
    left 0
    top 25px
    z-index 10
    animation-duration 250ms
    border-bottom-left-radius 25px
    border-bottom-right-radius 25px
    box-shadow 0px 8px 8px 0px rgba(2, 23, 25, 0.08)
    padding 65px 30px 30px 40px
    display none
    .chosen-container.chosen-with-drop &
        display block
    .chosen-search
        display none
    .chosen-results
        list-style none
        -webkit-overflow-scrolling touch
        overflow-x hidden
        overflow-y auto
        padding 1px 0
        max-height 140px
        &::-webkit-scrollbar-track
            background-color #cecece
            border-left 3px solid #fff
            border-right 3px solid #fff
        &::-webkit-scrollbar
            width 7px
        &::-webkit-scrollbar-thumb
            border-radius (7px / 2)
            background-color blueColor
        li
            cursor pointer
            -webkit-touch-callout none
            &:hover,
            &.result-selected
                color orangeColor
            &:not(:last-child)
                margin-bottom 15px
        .jspContainer
            overflow hidden
            position relative
            .jspPane
                position absolute
            .jspVerticalBar
                position absolute
                top 0
                right 0
                height 100%
                width 4px
                .jspTrack
                    position relative
                    border-radius 2px
                    background-color #666
                .jspDrag
                    position relative
                    top 0
                    left 0
                    cursor pointer
                    border-radius 2px
                    background-color red
