.backdrop-default
    animation-name fadeIn
    animation-fill-mode both
    animation-duration 200ms
    opacity 1 !important
    background rgba(black, 0.7) !important

.modal-forms-modal-content
    height 345px !important
    background-color grayBg !important
    @media mediumView
        height 414px !important
    .popups-container
        background none !important
        padding 0 !important
        max-width 1180px
        margin 0 auto
        position relative
        @extend .box-col
        @extend .align-middle

.modal-default
    animation-name fadeInDown
    animation-fill-mode both
    animation-duration 200ms
    // @media smallView
    //     left 0 !important
    //     top 50% !important
    //     position fixed !important
    //     width 100%
    //     transform translateY(-50%)
    .modal-header
        text-align center
        padding 0 !important
        margin-bottom 40px
        // @media smallView
        //     margin-bottom 40px
        .modal-title
            @extend .block-title
            @extend .box-col
            @extend .align-center
            margin 0
        .popups-close
            position absolute
            top 70px
            right 0
            cursor pointer
            font-size 0
            width 20px
            height 20px
            @media mediumView
                right 10px
            &:before,
            &:after
                content ''
                position absolute
                width 100%
                height 1px
                background blueColor
                top 50%
                left 0
            &:before
                transform translateY(-50%) rotate(-45deg)
            &:after
                transform translateY(-50%) rotate(45deg)
            

.modal-content
    overflow inherit !important
    padding 0 !important
    width auto !important
    height auto !important
    background none