.order-form,
.modal-content
    fieldset
        padding 0
        border none
        margin-bottom 30px
        @media mediumView
            margin 0
        .fieldset-wrapper
            @extend .box-row
            @media mediumView
                flex-direction column
        &.user-fields .fieldset-wrapper
            @extend .space-between
        &.choice-fields .fieldset-wrapper
            @extend .space-center
            .form-item
                margin 0 20px
                @media mediumView
                    margin 0 0 20px
        &.fields-rules
            margin-bottom 50px
            padding 0 40px 
            @media mediumView
                padding 0
                margin-bottom 25px
                p
                    display flex
                    flex-direction column
                    align-items center
                    line-height 24px
            .fieldset-wrapper
                @extend .space-between
            a
                color orangeColor
    .form-item
        margin 0
        flex 0 0 367px
        @media mediumView
            flex 0 0 auto
            margin-bottom 20px
        .corporate-content__order &
            margin-bottom 20px
        &.webform-component-email
            .corporate-content__order &
                margin-bottom 70px
        &.webform-component-textarea
            flex 1 0 100%
            margin-bottom 30px
        &.courses-checkeds-box
            margin-bottom 70px
        select
            @extend .no-display
        &.wrapper-date
            position relative
            label
                font-size 0
                width 8px
                height 8px
                border-bottom 2px solid blueColor
                border-right 2px solid blueColor
                transform rotate(45deg) translateY(-50%)
                position absolute
                top 50%
                right 30px
            .date-field
                cursor pointer
        &.user-checked
            flex 0 0 570px
            @media mediumView
                flex 0 0 auto
            .form-checkboxes
                margin-bottom 10px
            .description
                font-size 12px
                line-height 16px
                @media mediumView
                    margin-left 40px
    .form-actions
        margin 0
        @extend .box-row
        @extend .space-center
        .corporate-content__order &
            flex 1 0 100%
            justify-content flex-start
            @media smallView
                justify-content center
                flex 0 0 auto
            .form-submit
                width 250px
        div
            @extend .no-display
        .form-submit
            @extend .blue-button-2
    .courses-checkeds-box
        flex 1 0 100%
        @media mediumView
            flex 0 0 auto
        & > label
            text-transform uppercase
            font-size 20px
            font-weight 700
            font-family fontSlab
            margin-bottom 35px
            line-height 1.2
            color blueColor
            @media smallView
                text-align center
        .form-checkboxes
            @media largeView
                column-count 2
                column-gap 80px
            .form-type-checkbox
                margin-bottom 9px
                @media largeView
                    -webkit-column-break-inside avoid
                    page-break-inside avoid
                    break-inside avoid
                    label
                        white-space nowrap
                label
                    @media smallView
                        line-height 24px
    .messages
        @extend .no-display
.modal-content
    .webform-client-form
        & > div
            @extend .box-row
            @extend .box-wrap
            @extend .space-center
            @media smallView
                flex-direction column
        .form-item
            margin 0 20px
            @media mediumView
                margin-bottom 20px
        .form-actions
            flex 1 0 100%
            margin-top 40px
            @media mediumView
                margin-top 10px
            .form-submit
                padding 0 40px