.actions-anonce
    height 323px
    background-color greenColor
    color #fff
    @media mediumView
        height auto
        padding 70px 0
    @media smallView
        padding 90px 0
    &-list
        position relative
        @media mediumView
            align-items flex-start
        @media smallView
            flex-direction column
        &:after
            content ''
            height 224px
            width 2px
            background-image url(../img/actions-border.png)
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            @media mediumView
                height 100%
            @media smallView
                display none
    &-item
        flex 0 0 525px
        @media mediumView
            flex-direction column
            flex 0 0 50%
            padding 0 50px
            text-align center
        @media smallView
            flex 0 0 auto
            padding 0
            width 100%
            &.first
                margin-bottom 50px
                &:after
                    margin-top 50px
                    content ''
                    flex 0 0 2px
                    width 224px
                    background-image url(../img/actions-border-small.png)
    &-count
        flex 0 0 203px
        height 203px
        border-radius 50%
        background-color blueColor
        font-family fontSlab
        font-size 71px
        font-weight 100
        margin-right 50px
        @media mediumView
            width 203px
            margin 0 0 40px
    &-content
        flex 1 1 auto
        @media mediumView
            flex 0 0 auto
        & > a
            color #fff
            text-decoration none
            text-transform uppercase
            font-size 17px
            font-weight 900
            line-height 21px
            flex 0 0 40px
            overflow hidden
            margin-bottom 20px
        &__desc
            line-height 24px
            a
                margin-left 15px
                font-weight 900
                @extend .no-decoration
