.actions-anonce-count.box-row.align-middle
    - print $fields['field_action_count']->content
div(block='actions-anonce-content').box-col
    - print $fields['title']->content
    div(elem='desc')
        - print $fields['body']->content
        - print $fields['view_node']->content

